.dashboard {
  min-height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: nill;
  align-items: nill;
  background: #FBFBFF 0% 0% no-repeat padding-box;
}

.dashboard header {
  min-height: 26%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f1f1f5;
}

.dashboard header .top {
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .dashboard header .top {
    width: 100%;
    height: 50%;
    padding: 0 30px;
  }
}

.dashboard header .top .gig {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  color: #2C263D;
  opacity: 0.8;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .dashboard header .top .gig {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

.dashboard header .top button {
  width: 133px;
  background: #2F417E 0% 0% no-repeat padding-box;
  height: 40px;
  border: 1px solid #F6F6F6;
  border-radius: 15px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .dashboard header .top button {
    width: 100px;
    height: 40px;
    padding: 5px 10px;
  }
}

.dashboard header .top button:hover {
  border: none;
  outline: none;
}

.dashboard header .down {
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: nill;
}

@media screen and (max-width: 768px) {
  .dashboard header .down {
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

.dashboard header .down .option-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.dashboard header .down .option-box .option-label {
  padding: 2px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #aeadaf;
}

@media screen and (max-width: 768px) {
  .dashboard header .down .option-box .option-label {
    font-size: 12px;
    padding: 2px 6px;
  }
}

.dashboard header .down .option-box #option-clicked {
  font-weight: bolder;
  color: #585461;
}

.dashboard header .down .option-box .number-box {
  padding: 5px 15px;
  border-radius: 8px;
  background: #fff2d3 0% 0% no-repeat padding-box;
}

@media screen and (max-width: 768px) {
  .dashboard header .down .option-box .number-box {
    padding: 2px 9px;
  }
}

.dashboard header .down .option-box .number-box .number {
  color: #FBB30B;
  font-weight: bold;
}

.dashboard header .down .option-box #active {
  background: #FBB30B 0% 0% no-repeat padding-box;
}

.dashboard header .down .option-box #active #active-no {
  color: white;
}

.dashboard header .down #active-option {
  border-bottom: 2px solid #FBB30B;
}

.dashboard main {
  min-height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .dashboard main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

.dashboard main .category {
  border: 1px solid #EEEEEE;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 13%;
  height: 41px;
  border-radius: 15px;
}

.dashboard main #category-active {
  border: 2px solid #E18700;
}

.dashboard main #category-active .design-active {
  color: #FBB30B;
}

.dashboard section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard section .section-down {
  width: 90%;
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .dashboard section .section-down {
    width: 100%;
    padding: 20px 0;
  }
}

.dashboard section .section-down table {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .dashboard section .section-down table {
    padding: 0 5px;
  }
}

.dashboard section .section-down table thead tr th, .dashboard section .section-down table tbody tr th {
  padding: 10px 0;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .dashboard section .section-down table thead tr th, .dashboard section .section-down table tbody tr th {
    padding: 10px 5px;
  }
  .dashboard section .section-down table thead tr th .image, .dashboard section .section-down table tbody tr th .image {
    display: none;
  }
}

.dashboard section .section-down table thead tr td, .dashboard section .section-down table tbody tr td {
  background: white;
  padding: 5px 0;
  vertical-align: center;
}

@media screen and (max-width: 768px) {
  .dashboard section .section-down table thead tr td, .dashboard section .section-down table tbody tr td {
    padding: 5px;
  }
}

.dashboard section .section-down table thead tr .check-box, .dashboard section .section-down table tbody tr .check-box {
  font-size: larger;
}

.dashboard section .section-down table thead tr .delete .delete-btn, .dashboard section .section-down table tbody tr .delete .delete-btn {
  background: #FCF4E6 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 7px 25px;
  border: none;
  outline: none;
}

@media screen and (max-width: 768px) {
  .dashboard section .section-down table thead tr .delete .delete-btn, .dashboard section .section-down table tbody tr .delete .delete-btn {
    padding: 4px 10px;
  }
}
