@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin mediaQuery() {
    @media screen and (max-width: 768px) {
        @content;
    }
}

////// Navbar/////
.navbar {
    width: 100%;
    min-height: 15%;
    @include flex(column, space-around, center);
    //padding: 0 100px 0 100px;
    background: #FBFBFF 0% 0% no-repeat padding-box;
    //border: 1px solid cyan;

    .menu-bar{
        display: none;
        @include mediaQuery() {
            display: block;
            width: 97%;
            @include flex(row, space-around, center);
            
            padding: 5px 0;
        }
    }

    .nav-box{
        width: 90%;
        height: 100%;
        @include flex(row, space-between, center);
        //border: 1px solid blue;

        .search-box{
            width: 50%;
            @include mediaQuery() {
                width: 55%;
            }

            input{
                width: 100%;
                border-radius: 16px;
                border: 1px solid #ECECEC;
                padding: 10px;
                font-size: 18px;
                letter-spacing: -0.36px;
                color: #7E7E7E;
                background: #FBFBFF 0% 0% no-repeat padding-box;
            }
        }
    
        .nav-right{
            @include flex(row, space-around, center);
            width: 20%;
            @include mediaQuery() {
                width: 40%;
            }
        }
    }
}
