@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin mediaQuery() {
    @media screen and (max-width: 768px) {
        @content;
    }
}

.renumeration{
    width: 100%;
    height: 100%;
    @include flex(column, flex-start, flex-start);
    //border: 1px solid red;

    .form-2{
        width: 90%;
        min-height: 30%;
        padding: 15px;
        @include flex(column, nill, flex-start);
        //border: 1px solid green;
        @include mediaQuery() {
            min-height: 45%;
        }

        .form-groups{
            @include flex(column, flex-start, flex-start);
            width: 100%;
            //border: 1px solid blue;

            label{
                padding: 5px 0;
            }
            .form-input{
                width: 100%;
                @include flex(row, space-between, center);
                @include mediaQuery() {
                    width: 95%;
                    @include flex(column, space-between, center);
                    //border: 1px solid red;
                    padding: 5px 0;
                }

                input{
                    width: 48%;
                    padding: 10px 5px;
                    @include mediaQuery() {
                        width: 90%;
                        padding: 7px 0;
                        margin: 3px 0;
                    }
                }
            }
            
        }

        .buttons-btn{
            margin-top: 20px;
            width: 100%;
            @include flex(row, flex-end, flex-end);
            //border: 1px solid red;

            input{
                padding: 8px 18px;
                margin-right: 10px;
                border: none;
                border-radius: 8px;
                cursor: pointer;
            }

            button{
                padding: 10px 28px;
                background: #2F417E 0% 0% no-repeat padding-box;
                color: white;
                border: none;
                border-radius: 8px;
                cursor: pointer;

                &:hover{
                    border: none;
                    outline: none;
                }
            }
        }
    }
}